@* @model NewGroupEventModelView *@
@model GroupEvent

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav sticky">
        <a class="navbar-brand" href="/">Sociallife</a>
        <form class="form-inline my-2 mr-sm-2" id="searchbar">
            <input id="search-input" class="form-control mr-sm-2" type="search" onkeyup="Search()" placeholder="Search group..." aria-label="Search">
        </form>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto  ">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">()</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="NewGroup" asp-controller="Group">Create a New Group</a>
                        <a class="dropdown-item" href="/groups">Search for Group</a>
                        <a class="dropdown-item" href="">Search for Event Near You</a>
                        <a class="dropdown-item" href="">About Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-action="Logout" asp-controller="home" class="nav-link">Sign out</a>
                </li> 
            </ul>
        </div>
        <button class="navbar-toggler browser-default" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h4>
            <a href="/dashboard">Welcome! @HttpContextAccessor.HttpContext.Session.GetString("UserName")</a>
        </h4>
    </nav>
    
<div class="container" >

    <div style="margin-top: 100px">
    <div class="card card-body p-5 border-0 shadow my-5" >
    <h1 class="text-center">Host an Event</h1>
    <form asp-action="CreateGroupEvent" asp-controller="GroupEvent" class="group-form col-xs-9" asp-route-groupId="@HttpContextAccessor.HttpContext.Session.GetInt32("groupID")">

        @* <label asp-for="EventName"></label> *@
        <span asp-validation-for="GroupEventName" class="text-success"></span>
        <input  asp-for="GroupEventName" type="text" class="form-control" placeholder="Event">

        @* <label asp-for="Date"></label> *@
        <span asp-validation-for="GroupEventDate" class="text-success"></span>
        <input  asp-for="GroupEventDate" type="Datetime-local" class="form-control" placeholder="Date">

        @* <label asp-for="Street"></label> *@
        <span asp-validation-for="Street" class="text-success"></span>
        <input  asp-for="Street" type="text" class="form-control" placeholder="Street">

        @* <label asp-for="City"></label> *@
        <span asp-validation-for="City" class="text-success"></span>
        <input  asp-for="City" type="text" class="form-control" placeholder="City">

        @* <label asp-for="State"></label> *@
        <span asp-validation-for="State" class="text-success"></span>
        <input  asp-for="State" type="text" class="form-control" placeholder="State">

        @* <label asp-for="Zip"></label> *@
        <span asp-validation-for="Zip" class="text-success"></span>
        <input  asp-for="Zip" type="number" class="form-control" placeholder="Zip Code">

        @* <label asp-for="GroupEventDetails"></label> *@
        <span asp-validation-for="GroupEventDetails" class="text-success"></span>
        <textarea asp-for="GroupEventDetails" type="text" class="form-control" style="height: 200px" placeholder="Event details"></textarea>

        <input type="submit" class="btn btn-danger pinkBtn" value="Create" style="margin-top: 25px">
    </form>
    </div>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>